<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="qrcode.js"></script>
<script language="javascript">

var s4tPrimaryIdentifiers=[
{"code":'00',"label":'SSCC',"grouping":'PrimaryIdentifiers',"datatype":"xsd:string","definition":'Serial Shipping Container Code (SSCC)',"example":"195212342345678908","percentEncoded":false,"pattern":"[0-9]{18}"},
{"code":'401',"label":'GINC',"grouping":'PrimaryIdentifiers',"datatype":"xsd:string","definition":'Global Identification Number for Consignment (GINC)',"example":"9521234ABC12345","percentEncoded":false,"pattern":"[0-9]{4}.{0,26}"},
{"code":'402',"label":'GSIN',"grouping":'PrimaryIdentifiers',"datatype":"xsd:string","definition":'Global Shipment Identification Number (GSIN)',"example":"95212340000000012","percentEncoded":false,"pattern":"[0-9]{17}"},
];

var s4tTerms=[
{"code":'sc',"label":'Service Code',"grouping":'TransportTaskInformation',"datatype":"xsd:string","definition":'Freight service code specifies if it is a standard, express, overnight, same day service, etc.  This will be unique to the shipper.',"example":"express","percentEncoded":true},
{"code":'sCN',"label":'Ship to Contact Name',"grouping":'ShippingAddressInformation',"datatype":"xsd:string","definition":'Name of the company and/or per receiving the freight unit',"example":"Jaco Voorspuij","percentEncoded":true},
{"code":'sCo',"label":'Ship to Company Name',"grouping":'ShippingAddressInformation',"datatype":"xsd:string","definition":'Name of the company and/or per receiving the freight unit',"example":"Café Niçoise at GS1 AISBL","percentEncoded":true},
{"code":'sA1',"label":'Ship to Address 1',"grouping":'ShippingAddressInformation',"datatype":"xsd:string","definition":'Receiving company/residential street address (Line 1)',"example":"Avenue Louise 326","percentEncoded":true},
{"code":'sA2',"label":'Ship to Address 2',"grouping":'ShippingAddressInformation',"datatype":"xsd:string","definition":'Receiving company/residential street address (Line 2)',"example":"Blue Tower","percentEncoded":true},
{"code":'sSb',"label":'Ship to Suburb',"grouping":'ShippingAddressInformation',"datatype":"xsd:string","definition":'Receiving company/residential Suburb',"example":"Ixelles","percentEncoded":true},
{"code":'420',"label":'Ship to Post Code',"grouping":'ShippingAddressInformation',"datatype":"xsd:string","definition":'Receiving company/residential Postcode',"example":"1050","percentEncoded":false},
{"code":'sLN',"label":'Ship to Locality (town/city)',"grouping":'ShippingAddressInformation',"datatype":"xsd:string","definition":'Receiving company/residential Locality (town/city)',"example":"Bruxelles","percentEncoded":true},
{"code":'sRg',"label":'Ship to Region (state/county)',"grouping":'ShippingAddressInformation',"datatype":"xsd:string","definition":'Receiving company Region (state/county)',"example":"Brussels-Capital Region","percentEncoded":true},
{"code":'sCC',"label":'Ship to Country Code',"grouping":'ShippingAddressInformation',"datatype":"xsd:string","definition":'Receiving company/residential Country',"example":"BE","percentEncoded":false},
{"code":'sPh',"label":'Ship to phone number',"grouping":'ShippingAddressInformation',"datatype":"xsd:string","definition":'Contact phone number for the receiver of the freight unit. Used to populate the system when no EDI has been received','example':"+32 2 788 78 00","percentEncoded":false},
{"code":'dg',"label":'Dangerous Goods Flag',"grouping":'FreightUnitInformation',"datatype":"xsd:boolean","definition":'A flag to indicate if the freight unit contains Dangerous Goods',"example":"N","percentEncoded":false},
{"code":'mLv',"label":'Authority to leave',"grouping":'DeliveryInstructions',"datatype":"xsd:boolean","definition":'This indicates to the operator that he/she may leave the transport unit at the destination location. Implies the operator does not need to hand the transport unit over to a person. Also implies no signature from recipient is required.',"example":"N","percentEncoded":false},
{"code":'rqS',"label":'Signature Required Flag',"grouping":'DeliveryInstructions',"datatype":"xsd:boolean","definition":'This indicates to the operator that the operator must get a signature from the recipient for having delivered the transport unit to the intended destination. This implies that delivery must be made to a person.',"example":"Y","percentEncoded":false},
{"code":'dtNB',"label":'Not before Delivery Date Time',"grouping":'DeliveryInstructions',"datatype":"xsd:date","definition":'In transportation, it is a common business requirement to not deliver before a set date.',"example":"2020-01-18","percentEncoded":false},
{"code":'dtNA',"label":'Not after Delivery Date Time',"grouping":'DeliveryInstructions',"datatype":"xsd:date","definition":'In transportation, it is a common business requirement to deliver before a set date.',"example":"2020-01-25","percentEncoded":false},
{"code":'dtRe',"label":'Release date',"grouping":'DeliveryInstructions',"datatype":"xsd:date","definition":"Sometimes transport service providers are required to 'hold' transport units for a while before these transport units are allowed to be sent out to recipients.","example":"2020-01-15","percentEncoded":false},
{"code":'rCo',"label":'Return to Company Name',"grouping":'ReturnAddressInformation',"datatype":"xsd:string","definition":'Company name for the return to address',"example":"GS1 Global Office","percentEncoded":true},
{"code":'rCN',"label":'Return to Contact Name',"grouping":'ReturnAddressInformation',"datatype":"xsd:string","definition":'Name of the contact freight unit is to be returned to',"example":"Dan Mullen","percentEncoded":true},
{"code":'rA1',"label":'Return to Address 1',"grouping":'ReturnAddressInformation',"datatype":"xsd:string","definition":'Return to company/residential street address (Line 1)',"example":"300 Charles Ewing Boulevard","percentEncoded":true},
{"code":'rA2',"label":'Return to Address 2',"grouping":'ReturnAddressInformation',"datatype":"xsd:string","definition":'Return to company/residential street address (Line 2)',"example":"Ground Floor Suite","percentEncoded":true},
{"code":'rSb',"label":'Return to Suburb',"grouping":'ReturnAddressInformation',"datatype":"xsd:string","definition":'Return to company/residential Suburb',"example":"Ewingville","percentEncoded":true},
{"code":'rPC',"label":'Return to Post Code',"grouping":'ReturnAddressInformation',"datatype":"xsd:string","definition":'Return to company/residential Postcode',"example":"08628","percentEncoded":false},
{"code":'rLN',"label":'Return to Locality (town/city)',"grouping":'ReturnAddressInformation',"datatype":"xsd:string","definition":'Return to company/residential Locality (town/city)',"example":"Ewing","percentEncoded":true},
{"code":'rRg',"label":'Return to Region (state/county)',"grouping":'ReturnAddressInformation',"datatype":"xsd:string","definition":'Return to company/residential Region (state/county)',"example":"New Jersey","percentEncoded":true},
{"code":'rCC',"label":'Return to Country Code',"grouping":'ReturnAddressInformation',"datatype":"xsd:string","definition":'Return to company/residential Country',"example":"US","percentEncoded":false},
{"code":'401',"label":'GINC',"grouping":'OtherIdentifiers',"datatype":"xsd:string","definition":'Global Identification Number for Consignment (GINC)',"example":"9521234ABC12345","percentEncoded":false},
{"code":'402',"label":'GSIN',"grouping":'OtherIdentifiers',"datatype":"xsd:string","definition":'Global Shipment Identification Number (GSIN)',"example":"95212340000000012","percentEncoded":false},
{"code":'403',"label":'Routing code',"grouping":'OtherIdentifiers',"datatype":"xsd:string","definition":'Routing Code: AI(403)',"example":"DEF19485","percentEncoded":false},
{"code":'410',"label":'Ship-to / Deliver-to GLN',"grouping":'OtherIdentifiers',"datatype":"xsd:string","definition":'Ship-to / Deliver-to GLN',"example":"9529876987658","percentEncoded":false},
{"code":'413',"label":'Ship-for / Deliver-for GLN',"grouping":'OtherIdentifiers',"datatype":"xsd:string","definition":'Ship-for / Deliver-for GLN',"example":"9529876567898","percentEncoded":false},
{"code":'330n',"label":'Logistic Weight (kg)',"grouping":'Measurements',"datatype":"gs1:Measurement","definition":'Logistic weight (kg)',"example":"13.542","unit":"kg","percentEncoded":false},
{"code":'331n',"label":'Length of first dimension (m)',"grouping":'Measurements',"datatype":"gs1:Measurement","definition":'Length of first dimension (m)',"example":"0.75","unit":"m","percentEncoded":false},
{"code":'332n',"label":'Width of second dimension (m)',"grouping":'Measurements',"datatype":"gs1:Measurement","definition":'Width of second dimension (m)',"example":"0.55","unit":"m","percentEncoded":false},
{"code":'333n',"label":'Depth, thickness, height (m)',"grouping":'Measurements',"datatype":"gs1:Measurement","definition":'Depth, thickness, height or third dimension (m)',"example":"0.35","unit":"m","percentEncoded":false},
{"code":'336n',"label":'Logistic volume (cubic metres)',"grouping":'Measurements',"datatype":"gs1:Measurement","definition":'Logistic volume (cubic metres)',"example":"0.085","unit":"m^3","percentEncoded":false}
];


function filterByGrouping(grouping) {
    return function(element) {
        return  element.grouping==grouping;
    };
}

function filterExcludeGrouping(grouping) {
    return function(element) {
        return  element.grouping!==grouping;
    };
}


function filterByLabel(id) {
    return function(element) {
        return  element.label==id;
    };
}

function filterExcludeLabel(id) {
    return function(element) {
        return  element.label!==id;
    };
}

function gs1date(xsdDate) {
	return xsdDate.replace(/\d\d(\d\d)-(\d\d)-(\d\d)/,"$1$2$3");
}

function gs1measurement(val) {
	var ndp=0;
	var rv={};
	var numeric="";
	if (val.indexOf(".")> -1) {
		var parts=val.split(".");
		ndp=parts[1].length;
		numeric=parts[0]+parts[1];
	} else {
		numeric=val;
	}
		if (numeric.length < 6) {
		numeric="0".repeat(6-numeric.length)+numeric;
	}
	
	rv.ndp=ndp;
	rv.sixdigit=numeric;
	return rv;
}

function processS4Tarray(s4tTermsF) {
	var orderedKeys=[];
	var obj={};
	var rv={};
	s4tTermsF.forEach(function(element) {
			orderedKeys.push(element.code);
			obj[element.code]=element;
	});
	rv.orderedKeys=orderedKeys;
	rv.obj=obj;
	return rv;
}


var s4tObj=processS4Tarray(s4tTerms);

var mode=0;

var zeroToFive=["0","1","2","3","4","5"];




</script>

<style type="text/css">
body { font-family: Verdana; }
h1 {text-align: center;}
h2 {text-align: center;}
tr.transportTaskInfo { background-color: #FFCCCC;}
tr.shippingAddress { background-color: #FFFFCC;}
tr.deliveryInstructions { background-color: #CCFFCC;}
tr.returnAddress { background-color: #CCCCFF;}
tr.freightUnitInformation { background-color: #CCFFFF;}
tr.otherIdentifiers { background-color: #FFCC99;}
tr.measurements { background-color: #D9D9D9;}
div#gs1DigitalLink {float: right; width: 45vw;}
div#gs1DigitalLinkDecode {float: left; width: 45vw;}
table#inputData {float: left;}
table#decodedData {float: right;}
textarea#dlOutput { width: 100%; font-size: 1em; height: 160px;}
textarea#dlInput { width: 100%; font-size: 1em; height: 160px;}
td.s4tCode {text-align: center;}
input.maxWidth {width: 100%;}
div#theqrcode {position: absolute; bottom: 10%; right: calc(18% - 125px); width: 250px; height: 250px; border: 25px solid white; }
div#ack {position: absolute; bottom: 2%; left: 55%; width: 50%; height: 1em; text-align: center;}
div#navbar {width: 100%; height: 1.5em;}
input.navbutton {width: 49%; text-align: center;  font-weight: 700;}
input#encode { float: left; }
input#decode {float: right; }
.activeButton {background-color: #000099; color: #FFFFFF;}
.inactiveButton {background-color: #FFFFFF; color: #000099;}
table#size  tr th {text-align: center;}
table#size  tr td {text-align: center;}
</style>
</head>
<body>
	<div id="theqrcode" style="width: 250px; height: 250px;">
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 100%; height: 100%;">
    <g id="qrcode2"/>
    </svg>
	</div>

<div id="app1">

<h1>GS1 Scan4Transport Interactive Demo {{primaryAIobj.code}}</h1>



<div id="navbar">
<input button id="encode" class="navbutton" value="ENCODE / GENERATE" @click="setMode(0)" v-bind:class="{ activeButton: (mode==0), inactiveButton: (mode==1) }"/><input button id="decode" class="navbutton" value="DECODE"  @click="setMode(1)" v-bind:class="{ activeButton: (mode==1), inactiveButton: (mode==0) }"/>
</div>
<div v-if="mode==0">
	<p>Enter data in the form below to generate a GS1 Digital Link URI and encode it within a QR code.</p>

	<table id="inputData">
	<tbody>
	<tr><td>SSCC</td><td colspan="2"><input class="maxWidth" type="text" v-model="primaryValue"></td><td><input type="button" value="demo" @click="demoData2(primaryAIobj.example)"></td></tr>
	<tr><td>URI stem</td><td colspan="4"><input class="maxWidth" type="text" v-model="uriStem"></td></tr>
	<tr><td></td><td></td><td></td><td>S4T Code</td></tr>
	</tbody>
	<tbody v-for="ex in otherIdentifiers">
	<tr class="otherIdentifiers"><td v-bind:title="ex.definition">{{ex.label}}</td><td><span v-if="s4tObj.obj[ex.code].datatype=='xsd:string'"><input type="text" v-model="s4tData[ex.code]" class="maxWidth"></span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:date'"><input type="date" v-model="s4tData[ex.code]"></span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:boolean'"><select v-model="s4tData[ex.code]"><option value="Y">Yes</option><option value="N">No</option></select></span></td><td><input type="button" value="demo" @click="demoData(ex.code)"></td><td class="s4tCode">{{ex.code}}</td></tr>
	</tbody>
	<tbody v-for="ex in transportTaskInformation">
	<tr class="transportTaskInfo"><td v-bind:title="ex.definition">{{ex.label}}</td><td><span v-if="s4tObj.obj[ex.code].datatype=='xsd:string'"><input type="text" v-model="s4tData[ex.code]" class="maxWidth"></span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:date'"><input type="date" v-model="s4tData[ex.code]"></span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:boolean'"><select v-model="s4tData[ex.code]"><option value="Y">Yes</option><option value="N">No</option></select></span></td><td><input type="button" value="demo" @click="demoData(ex.code)"></td><td class="s4tCode">{{ex.code}}</td></tr>
	</tbody>
	<tbody v-for="ex in freightUnitInformation">
	<tr class="freightUnitInformation"><td v-bind:title="ex.definition">{{ex.label}}</td><td><span v-if="s4tObj.obj[ex.code].datatype=='xsd:string'"><input type="text" v-model="s4tData[ex.code]" class="maxWidth"></span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:date'"><input type="date" v-model="s4tData[ex.code]"></span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:boolean'"><select v-model="s4tData[ex.code]"><option value="Y">Yes</option><option value="N">No</option></select></span></td><td><input type="button" value="demo" @click="demoData(ex.code)"></td><td class="s4tCode">{{ex.code}}</td></tr>
	</tbody>
	<tbody v-for="ex in shippingAddressInfo">
	<tr class="shippingAddress"><td v-bind:title="ex.definition">{{ex.label}}</td><td><span v-if="s4tObj.obj[ex.code].datatype=='xsd:string'"><input type="text" v-model="s4tData[ex.code]" class="maxWidth"></span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:date'"><input type="date" v-model="s4tData[ex.code]"></span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:boolean'"><select v-model="s4tData[ex.code]"><option value="Y">Yes</option><option value="N">No</option></select></span></td><td><input type="button" value="demo" @click="demoData(ex.code)"></td><td class="s4tCode">{{ex.code}}</td></tr>
	</tbody>
	<tbody v-for="ex in deliveryInstructions">
	<tr class="deliveryInstructions"><td v-bind:title="ex.definition">{{ex.label}}</td><td><span v-if="s4tObj.obj[ex.code].datatype=='xsd:string'"><input type="text" v-model="s4tData[ex.code]" class="maxWidth"></span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:date'"><input type="date" v-model="s4tData[ex.code]"></span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:boolean'"><select v-model="s4tData[ex.code]"><option value="Y">Yes</option><option value="N">No</option></select></span></td><td><input type="button" value="demo" @click="demoData(ex.code)"></td><td class="s4tCode">{{ex.code}}</td></tr>
	</tbody>
	<tbody v-for="ex in returnAddressInfo">
	<tr class="returnAddress"><td v-bind:title="ex.definition">{{ex.label}}</td><td><span v-if="s4tObj.obj[ex.code].datatype=='xsd:string'"><input type="text" v-model="s4tData[ex.code]" class="maxWidth"></span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:date'"><input type="date" v-model="s4tData[ex.code]"></span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:boolean'"><select v-model="s4tData[ex.code]"><option value="Y">Yes</option><option value="N">No</option></select></span></td><td><input type="button" value="demo" @click="demoData(ex.code)"></td><td class="s4tCode">{{ex.code}}</td></tr>
	</tbody>
	<tbody v-for="ex in measurements">
	<tr class="measurements"><td v-bind:title="ex.definition">{{ex.label}}</td><td><input type="text" v-model="s4tData[ex.code]">{{ex.unit}}</td><td><input type="button" value="demo" @click="demoData(ex.code)"></td><td class="s4tCode">{{ex.code}}</td></tr>
	</tbody>
	<tbody>
	</tbody>
	</table>

	<div id="gs1DigitalLink">
	<h2>GS1 Digital Link URI</h2>
	<textarea id="dlOutput" :value="gs1dlURI" @change="changedDLoutput($event)"></textarea>

	<h2 style="float:left;">QR code</h2>
	<table id="size" style="position: absolute; left: 54%; top: 30em;">
	<tr><th>Module count</th></tr>
	<tr><td>{{moduleCount}}</td></tr>
	<tr><th>Minimum size</th></tr>
	<tr><td>{{symbolSizeMinimum}} mm</td></tr>
	<tr><th>Target size</th></tr>
	<tr><td>{{symbolSizeTarget}} mm</td></tr>
	<tr><th>Maximum size</th></tr>
	<tr><td>{{symbolSizeMaximum}} mm</td></tr>
	</table>


	</div>

	<div id="ack">QR generated using <a href="https://github.com/davidshimjs/qrcodejs/" target="_blank">https://github.com/davidshimjs/qrcodejs/</a></div>

</div>


<div v-if="mode==1">
	<p>Enter a GS1 Digital Link URI to decode S4T data.</p>

	<div id="gs1DigitalLinkDecode">
	<h2>GS1 Digital Link URI</h2>
	<textarea id="dlInput" v-model="gs1dlURI2decode"></textarea>
	</div>

	<table id="decodedData">
	<tbody>
	<tr><td><span>{{primaryValueExtracted.code}}</span></td><td colspan="1">{{primaryValueExtracted.value}}</td><td></td></tr>
	<tr><td>URI stem</td><td colspan="3">{{uriStemExtracted}}</td></tr>
	<tr><td>Scan4Transport URI ?</td><td colspan="3">{{s4tDetected}}</td></tr>
	<tr><td></td><td></td><td>S4T Code</td></tr>
	</tbody>
	<tbody v-for="ex in otherIdentifiers">
	<tr class="otherIdentifiers"><td v-bind:title="ex.definition">{{ex.label}}</td><td><span v-if="s4tObj.obj[ex.code].datatype=='xsd:string'">{{queryStringExtracted[ex.code]}}</span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:date'">{{gs1date3(queryStringExtracted[ex.code])}}</span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:boolean'">{{booleanValue(queryStringExtracted[ex.code])}}</span></td><td class="s4tCode">{{ex.code}}</td></tr>
	</tbody>
	<tbody v-for="ex in transportTaskInformation">
	<tr class="transportTaskInfo"><td v-bind:title="ex.definition">{{ex.label}}</td><td><span v-if="s4tObj.obj[ex.code].datatype=='xsd:string'">{{queryStringExtracted[ex.code]}}</span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:date'">{{gs1date3(queryStringExtracted[ex.code])}}</span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:boolean'">{{booleanValue(queryStringExtracted[ex.code])}}</span></td><td class="s4tCode">{{ex.code}}</td></tr>
	</tbody>
	<tbody v-for="ex in freightUnitInformation">
	<tr class="freightUnitInformation"><td v-bind:title="ex.definition">{{ex.label}}</td><td><span v-if="s4tObj.obj[ex.code].datatype=='xsd:string'">{{queryStringExtracted[ex.code]}}</span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:date'">{{gs1date3(queryStringExtracted[ex.code])}}</span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:boolean'">{{booleanValue(queryStringExtracted[ex.code])}}</span></td><td class="s4tCode">{{ex.code}}</td></tr>
	</tbody>
	<tbody v-for="ex in shippingAddressInfo">
	<tr class="shippingAddress"><td v-bind:title="ex.definition">{{ex.label}}</td><td><span v-if="s4tObj.obj[ex.code].datatype=='xsd:string'">{{queryStringExtracted[ex.code]}}</span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:date'">{{gs1date3(queryStringExtracted[ex.code])}}</span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:boolean'">{{booleanValue(queryStringExtracted[ex.code])}}</span></td><td class="s4tCode">{{ex.code}}</td></tr>
	</tbody>
	<tbody v-for="ex in deliveryInstructions">
	<tr class="deliveryInstructions"><td v-bind:title="ex.definition">{{ex.label}}</td><td><span v-if="s4tObj.obj[ex.code].datatype=='xsd:string'">{{queryStringExtracted[ex.code]}}</span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:date'">{{gs1date3(queryStringExtracted[ex.code])}}</span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:boolean'">{{booleanValue(queryStringExtracted[ex.code])}}</span></td><td class="s4tCode">{{ex.code}}</td></tr>
	</tbody>
	<tbody v-for="ex in returnAddressInfo">
	<tr class="returnAddress"><td v-bind:title="ex.definition">{{ex.label}}</td><td><span v-if="s4tObj.obj[ex.code].datatype=='xsd:string'">{{queryStringExtracted[ex.code]}}</span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:date'">{{gs1date3(queryStringExtracted[ex.code])}}</span><span v-if="s4tObj.obj[ex.code].datatype=='xsd:boolean'">{{booleanValue(queryStringExtracted[ex.code])}}</span></td><td class="s4tCode">{{ex.code}}</td></tr>
	</tbody>
	<tbody v-for="ex in measurements">
	<tr class="measurements"><td v-bind:title="ex.definition">{{ex.label}}</td><td>{{gs1ToMeasurement(queryStringExtracted, ex.code).value}} <span v-if="gs1ToMeasurement(queryStringExtracted, ex.code).value > ''">{{ex.unit}}</span></td><td class="s4tCode">{{gs1ToMeasurement(queryStringExtracted, ex.code).code}}</td></tr>
	</tbody>
	<tbody>
	</tbody>
	</table>


</div>
</div>

<script language="javascript">

	var sscc="";
	var uriStem="https://example.com";
	var s4tData={};
	var qrURI="blank.png";
	var gs1dlURI2decode="";
	var booleans={"Y":"Yes","N":"No",undefined:""};
	var primary="SSCC";
	var primaryValue="";

var el=document.getElementById("qrcode2");
console.log(JSON.stringify(el));
var qrcode = new QRCode(el, {
				width: 250,
				height: 250,
				useSVG: true,
				colorDark : "#000000",
				colorLight : "#ffffff",
				correctLevel : QRCode.CorrectLevel.L
			});


	var app1 = new Vue({
		el: "#app1",
		data : {
			s4tTerms: s4tTerms,
			s4tPrimaryIdentifiers : s4tPrimaryIdentifiers,
			sscc: sscc,
			
			primary: primary,
			primaryValue: primaryValue,
			uriStem: uriStem,
			s4tData: s4tData,
			mode: mode,
			booleans: booleans,
			zeroToFive: zeroToFive,
			gs1dlURI2decode : gs1dlURI2decode,
			qrcode : qrcode
		},
		computed : {
			primaryAIobj: function() {
				return this.s4tPrimaryIdentifiers.filter(filterByLabel(this.primary))[0];
			},
			s4tObj : function() {
				return processS4Tarray(this.s4tTerms);
			},
			s4tDataJSON : function() {
				return JSON.stringify(this.s4tData);
			},
			deliveryInstructions : function() {
				return s4tTerms.filter(filterByGrouping("DeliveryInstructions"));
			},
			taskInfo : function() {
				return s4tTerms.filter(filterByGrouping("TransportTaskInformation"));
			},
			returnAddressInfo : function() {
				return s4tTerms.filter(filterByGrouping("ReturnAddressInformation"));
			},
			shippingAddressInfo : function() {
				return s4tTerms.filter(filterByGrouping("ShippingAddressInformation"));
			},
			transportTaskInformation : function() {
				return s4tTerms.filter(filterByGrouping("TransportTaskInformation"));
			},
			freightUnitInformation: function() {
				return s4tTerms.filter(filterByGrouping("FreightUnitInformation"));
			},
			otherIdentifiers: function() {
				return s4tTerms.filter(filterByGrouping("OtherIdentifiers")).filter(filterExcludeLabel(this.primary));
			},
			measurements: function() {
				return s4tTerms.filter(filterByGrouping("Measurements"));
			},

			queryStringExtracted: function() {
				var uri=this.gs1dlURI2decode;
				var qso={};
				if (uri !== undefined && uri !== null && uri !== "") {
					if (uri.indexOf(" ")> -1) {
						uri=uri.substr(0,uri.indexOf(" "));
					}
					var qsa=uri.substr(1-(0-uri.indexOf("?"))).split("&");
					qsa.forEach(function(el) {
						if (el !== undefined) {
							var kv=el.split("=");
							if (kv[1] !== null & kv[1] !== undefined) {
							var v=kv[1].replace(/\+/g,"%20");
							qso[kv[0]]=decodeURIComponent(v);
							}
						}
					});
				}
				return qso;
			},
			
			s4tDetected : function() {
				let rv="No";
				if (this.gs1dlURI2decode.slice(-4) == "&s4t") {
				rv="Yes";
				}
				return rv;
			},
			
			primaryValueExtracted : function() {
				let pathInfo="";
				let rv={};
				let c={"00":"SSCC","402":"GSIN","401":"GINC"};
				let digits=new RegExp("^\\d+$");
				if (this.gs1dlURI2decode !== undefined && this.gs1dlURI2decode !== null && this.gs1dlURI2decode !== "") {
					var inq = this.gs1dlURI2decode.indexOf("?");
					if (inq== -1) {
						pathInfo = this.gs1dlURI2decode;
					} else {
						pathInfo = this.gs1dlURI2decode.substr(0,this.gs1dlURI2decode.indexOf("?"));
					}
					var rePath=new RegExp("\\/(sscc|00|gsin|402|ginc|401)\\/(\\d{4}.+?)$");
					if (rePath.test(pathInfo)) {
						let code=pathInfo.match(rePath)[1].toUpperCase();
						if (digits.test(code)) {
							code=c[code];
						}			
						rv.code=code;	
						rv.value=pathInfo.match(rePath)[2];
					} else {
						rv.code="";
						rv.value="";
					}
				}
				return rv;
			},
			uriStemExtracted: function() {
				var uriStem="";
				if (this.gs1dlURI2decode !== undefined && this.gs1dlURI2decode !== null && this.gs1dlURI2decode !== "") {
					var inq = this.gs1dlURI2decode.indexOf("?");
					if (inq== -1) {
						pathInfo = this.gs1dlURI2decode;
					} else {
						pathInfo = this.gs1dlURI2decode.substr(0,this.gs1dlURI2decode.indexOf("?"));
					}
					var rePath=new RegExp("\\/(sscc|00|gsin|402|ginc|401)\\/(\\d{4}.+?)$");
					
					if (rePath.test(pathInfo)) { 
						let l=pathInfo.match(rePath)[0].length;
						uriStem = pathInfo.substr(0,pathInfo.length-l);
					}						
				}
				return uriStem;				
			},
			
			queryString: function() {
				s4to=JSON.parse(this.s4tDataJSON);
				kvPairs=[];
				s4tObj.orderedKeys.forEach(function(k) {
				let xc = this.primaryAIobj;
				
				
					if ((s4to.hasOwnProperty(k)) && (s4to[k] !== "")) {
						var valToEncode=encodeURIComponent(s4to[k]);
						if (this.s4tObj.obj[k].datatype=="xsd:date") {							
							valToEncode=gs1date(s4to[k]);
						}
						if (this.s4tObj.obj[k].datatype=="gs1:Measurement") {
							var rv=gs1measurement(s4to[k]);
							valToEncode = rv.sixdigit;
							k=k.replace("n",rv.ndp);
						}
						
						
					    kvPairs.push(k+"="+valToEncode);
					
					}
				
				});
				return kvPairs.join("&")+"&s4t";
			},
			gs1dlURI: function() {
				var uriStem=this.uriStem.replace(/\/$/,"");
				var qs=this.queryString.replace(/\%20/g,"+");
				var dl = "";
				if (this.primaryValue !== "") {
					dl = uriStem+"/"+this.primaryAIobj.code+"/"+this.primaryValue;
					if (qs !== "") {
					  dl+="?"+qs;
					}
				}
				// this.generateQR(dl);
				this.gs1dlURI2decode = dl;
				return dl;
				
			},
			moduleCount: function() {
				if ((this.qrcode !== null) && (this.qrcode._oQRCode !== null)) {
				return this.qrcode._oQRCode.moduleCount;
				} else {
				return 0;
				}
			},
			symbolSizeMinimum: function() {
				return Math.floor(this.moduleCount * 396)/1000;
			},
			symbolSizeTarget: function() {
				return Math.floor(this.moduleCount * 495)/1000;
			},
			symbolSizeMaximum: function() {
				return Math.floor(this.moduleCount * 743)/1000;
			}
			
			
		
		},
		methods: {
			changedDLoutput: function(event) {
				let newValue = event.target.value;
				// this.generateQR(newValue);
				this.gs1dlURI2decode = newValue;
				this.gs1dlURI = newValue;
				
			},
		
			clearPrimaryIdentifierValues: function() {
				this.s4tPrimaryIdentifiers.forEach(function(el) {
					Vue.set(app1.s4tData,el.code,"");
				});
				this.primaryValue="";
			},
			demoData: function(el) {
				var demoVal = s4tObj.obj[el].example;
				Vue.set(app1.s4tData,el,demoVal);
			},
			demoData2: function(demoVal) {
				this.primaryValue=demoVal;
			},
			gs1ToMeasurement: function(queryStringExtracted,code) {
				var rv={};
				this.zeroToFive.forEach(function(el) {
					var tempCode=code.replace("n",el);
					if (queryStringExtracted.hasOwnProperty(tempCode)) {
						rv.value=queryStringExtracted[tempCode]/Math.pow(10,parseInt(el));
						rv.code=tempCode;
					}
				});
				return rv;
			},
			gs1date3: function(gs1Date) {
				var rv="";
				var regexDate= new RegExp("^\\d{6}$");
				if (gs1Date !== undefined && regexDate.test(gs1Date)) {
				var doubleDigits = gs1Date.split(/(\d{2})/);
				// TODO determine this correctly based on whether >=51 - see Gen Specs
				var year=parseInt(doubleDigits[1]);
				
				var currentYear=new Date().getFullYear().toString();
				var currentLastYY=parseInt(currentYear.substr(-2));
				var currentFirstYY=parseInt(currentYear.substr(0,2));
				
				var diff=year-currentLastYY;
				var fullyear=currentFirstYY.toString()+year.toString();
				if (diff >=51 && diff <= 99) {
					fullyear=(currentFirstYY-1).toString()+year.toString();
				}
				if (diff >= -99 && diff <= -50) {
					fullyear=(currentFirstYY+1).toString()+year.toString();
				}
				
				if (fullyear !== undefined) {
				rv=doubleDigits[5]+"/"+doubleDigits[3]+"/"+fullyear;
				}
				}
				return rv;
			},
			setMode: function(el) {
				this.mode=el;
				var qrc=document.getElementById("theqrcode");
				if (el==1) {
					qrc.style.right="";
					qrc.style.left="calc(18% - 125px)";
				} else {
					qrc.style.right="calc(18% - 125px)";
					qrc.style.left="";
				}
			},
			booleanValue: function(el) {
				return this.booleans[el];
			}		
		},
		watch: {
			gs1dlURI : function(newVal, oldVal){
				console.log("newVal="+newVal);
				// this.qrcode.clear();
				this.qrcode.makeCode(newVal);
			}
		}
		
		});



</script>

</body>
</html>
